{% extends "base.html" %}

{% block extrahead %}
  {% if page and page.meta and page.meta.title %}
    <meta property="og:title" content="{{ page.meta.title }}">
  {% elif page and page.title and not page.is_homepage %}
    <meta property="og:title" content="{{ page.title }} - {{ config.site_name }}">
  {% else %}
    <meta property="og:title" content="{{ config.site_name }}">
  {% endif %}
  {% if page and page.meta and page.meta.description %}
    <meta name="og:description" content="{{ page.meta.description }}">
  {% endif %}
  <meta property="og:image" content="/images/Pantacor_Logo_Black.png">
  <meta property="og:image:alt" content="Pantacor Inc.">
  <meta property="og:image:type" content="image/png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@pantahub">
  <meta name="twitter:creator" content="@pantahub">
  {% if page and page.meta and page.meta.title %}
    <meta property="twitter:title" content="{{ page.meta.title }}">
  {% elif page and page.title and not page.is_homepage %}
    <meta property="twitter:title" content="{{ page.title }} - {{ config.site_name }}">
  {% else %}
    <meta property="twitter:title" content="{{ config.site_name }}">
  {% endif %}
  {% if page and page.meta and page.meta.description %}
    <meta name="twitter:description" content="{{ page.meta.description }}">
  {% endif %}

  <meta name="twitter:image" content="/images/Pantacor_Logo_Black.png">
  <meta name="twitter:image:alt" content="Pantacor">

{% endblock %}